/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-Nov-2018, 11:38:38
    Author     : Marko
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:300,400,500,700&subset=latin-ext');

@font-face {
  font-family: 'LeckerliOne';
  src: url('fonts/LeckerliOne/LeckerliOne.eot?#iefix') format('embedded-opentype'),  url('fonts/LeckerliOne/LeckerliOne.otf')  format('opentype'),
	     url('fonts/LeckerliOne/LeckerliOne.woff') format('woff'), url('fonts/LeckerliOne/LeckerliOne.ttf')  format('truetype'), url('fonts/LeckerliOne/LeckerliOne.svg#LeckerliOne') format('svg');
  font-weight: normal;
  font-style: normal;
}

