


@media(min-width:576px){






}


@media(min-width:768px){

    /*HEADER*/
    .navbar-nav li{
        background: transparent;
        border-bottom: 2px solid transparent;
        transition: 0.5s linear;
        padding: 0 10px;
    }

    .navbar-nav li:hover,
    .navbar-nav li.active{
        background: transparent;
        border-bottom: 2px solid #E84C3D;
    } 

    .navbar-nav li a.nav-link{
        text-transform: uppercase;
        color: #000 !important;
        transition: 0.5s linear;       
    }

    .navbar-nav li:hover a.nav-link,
    .navbar-nav li.active a{
        color: #E84C3D !important;
    }

    #main-menu{
        margin: 0px;
    }

    .navbar-brand{
        max-width: 170px;/*da moze logo da stane*/
    }

    /*Main*/
    .lead{
        padding: 400px 0;  
    }

    .lead h2{
        font-size: 35px;
        letter-spacing: 5px;
    }

    .lead p{
        font-size: 16px;
        letter-spacing: 5px;
    }

    /*about section*/
    .custom-padding{
        padding: 115px 0 !important;
    }

    .about p{
        font-size: 14px;
    }

    .what-we-do p{
        font-size: 13px;
    }

}


@media(min-width:992px){

    html{
        font-size: 14px;
    }

    .container{
        max-width: 1200px; /*1170+30 zbog paddin-ga*/
    }


}





@media(min-width:1200px){





}